<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dsu2021.pj.repository.UserMapper">

	<!-- SELECT -->

<!-- 	<resultMap type="com.dsu2021.pj.domain.room.dto.RoomDTO$RoomRes" id="roomResult">
		<id property="roomIndex" column="room_index"></id>
		<result property="userIndex" column="user_index"></result>
		<result property="addressIndex" column="address_index"></result>
		<result property="categoryIndex" column="category_index"></result>
		<result property="name" column="name"></result>
		<result property="price" column="price"></result>
		<result property="cleanPrice" column="clean_price"></result>
		<result property="maxPerson" column="max_person"></result>
		<result property="content" column="content"></result>
	</resultMap> -->
	
<!-- 	<select id = "getLatestRoomIndex" resultType="Long">
 		SELECT room_index FROM room WHERE
		address_index = #{addressIndex} AND
		category_index = #{categoryIndex} AND
		user_index = #{userIndex} AND
		name = #{name} AND
		price = #{price} AND
		clean_price = #{cleanPrice} AND
		max_person = #{maxPerson} AND
		content = #{content}
		ORDER BY room_index DESC LIMIT 0,1;
	</select>
	
	<select id = "getUnAvailableDatesByRoomIndex" resultType="Date">
		SELECT date FROM unavailable_date WHERE room_index = #{roomIndex} ORDER BY date ASC;
	</select> -->
	
	<select id = "selectUserByUserNumORID" resultType="com.dsu2021.pj.entity.User">
		SELECT * FROM user WHERE user_num = #{user_num} OR id = #{id} ;
	</select>
	
	<select id = "selectUserByIDAndPassword" resultType="com.dsu2021.pj.entity.User">
		SELECT * FROM user WHERE id = #{id} AND password = #{password} ;
	</select>
	
	
	<select id = "getBookList" resultType="com.dsu2021.pj.entity.Book">
		SELECT * FROM book WHERE book_name LIKE '%${book_name}%';
	</select>
	
	<select id = "getBookByBookNum" resultType="com.dsu2021.pj.entity.Book">
		SELECT * FROM book WHERE book_num = #{book_num};
	</select>
	
	<select id = "getUserById" resultType="com.dsu2021.pj.entity.User">
		SELECT * FROM user WHERE id = #{id};
	</select>
	
	<select id = "getCart" resultType="com.dsu2021.pj.entity.Cart">
		SELECT * FROM cart WHERE user_num = #{user_num};
	</select>
	
	<select id = "getCardList" resultType="com.dsu2021.pj.entity.Card">
		SELECT * FROM card WHERE user_num = #{user_num};
	</select>
	
	<select id = "checkBookPriceWithBookNum" resultType="Integer">
		SELECT book_price FROM book WHERE book_num = #{book_num};
	</select>
	
	<select id="getBookCartsByCartNum" resultType="com.dsu2021.pj.entity.BookCart">
		SELECT * FROM book_cart WHERE cart_num = #{cart_num};
	</select>
	
	<select id="getBookCartsByBookNum" resultType="com.dsu2021.pj.entity.BookCart">
		SELECT * FROM book_cart WHERE book_num = #{book_num};
	</select>
	
	<select id="getAddressByUserNum" resultType="com.dsu2021.pj.entity.Address">
		SELECT * FROM address WHERE user_num = #{user_num};
	</select>
		
	<select id="getCardsByUserNum" resultType="com.dsu2021.pj.entity.Card">
		SELECT * FROM card WHERE user_num = #{user_num};
	</select>
	
	<select id="getCardByCard_num" resultType="com.dsu2021.pj.entity.Card">
		SELECT * FROM card WHERE card_num = #{card_num};
	</select>
	
	<select id="getLatestOrderByUserNum" resultType="com.dsu2021.pj.entity.Order">
		SELECT * FROM `order` WHERE user_num = #{user_num} ORDER BY order_num desc limit 0,1;
	</select>
	
		<!-- INSERT -->

	<insert id="insertUser">
		INSERT INTO user VALUES (${user_num},#{name},#{id},#{password});
	</insert>
	
	<insert id="insertAddress">
		INSERT INTO address (user_num,zip_code,default_addr,detail_addr) VALUES (#{user_num},#{zip_code},#{default_addr},#{detail_addr});
	</insert>
	
	<insert id="insertBook">
		INSERT INTO book (book_name,book_stock,book_price) VALUES (#{book_name},#{book_stock},#{book_price});
	</insert>
	
	<insert id="createCart">
		INSERT INTO cart (user_num) VALUES (#{user_num});
	</insert>
	
	<insert id="addToCart">
		INSERT INTO book_cart (book_num, cart_num, book_cart_amount, book_cart_price) VALUES (#{book_num},#{cart_num},#{book_cart_amount},#{book_cart_price});
	</insert>
	
	<insert id="createOrder">
		INSERT INTO `order` (user_num,order_total,order_zip_code,order_default_addr,order_detail_addr,order_card_num,order_card_valid_date,order_card_type) VALUES (#{user_num},#{order_total},#{order_zip_code},#{order_default_addr},#{order_detail_addr},#{order_card_num},#{order_card_valid_date},#{order_card_type});
	</insert>
	
	<insert id="addCard">
		INSERT INTO card VALUES (#{card_num},#{user_num},#{card_valid_date},#{card_type});
	</insert>
	
	<insert id="createBook_order">
		INSERT INTO book_order (order_num,book_num,book_order_amount,book_order_price) VALUES (#{order_num},#{book_num},#{book_order_amount},#{book_order_price});
	</insert>
	
	
		
<!-- 		
	<insert id = "insertAddress">
		INSERT INTO room_address (si_do,si_gun_gu,eup_myeon_dong,road_name,detail_address)
		VALUES (#{siDo},#{siGunGu},#{eupMyeonDong},#{roadName},#{detailAddress});
	</insert>
	
	<insert id = "insertCategory">
		INSERT INTO category (location,kind) VALUES (#{location},#{kind});
	</insert>
	
	<insert id = "insertRoom">
		INSERT INTO room 
		(room_index,address_index,category_index,user_index,name,price,clean_price,max_person,content) 
		VALUES (#{roomIndex},#{addressIndex},#{categoryIndex},#{userIndex},#{name},#{price},#{cleanPrice},#{maxPerson},#{content});
	</insert>
	
	 -->
	 
	 <!-- UPDATE -->
	 
	 <update id="modifyBook">
	 	UPDATE book SET book_name = #{book_name} ,book_stock = #{book_stock},book_price = #{book_price} WHERE book_num = #{book_num};
	 </update>
	 
	 
	 
	<!-- DELETE -->
		
	<delete id = "deleteBookByBookNum">
		DELETE FROM book WHERE book_num = #{book_num};
	</delete>
		
	<delete id = "deleteBookCartByCartNum">
		DELETE FROM book_cart WHERE cart_num = #{cart_num};
	</delete>
	
	<delete id = "deleteCartByUserNum">
		DELETE FROM cart WHERE user_num = #{user_num};
	</delete>
	
	<delete id = "deleteBookCartByBookCartNum">
		DELETE FROM book_cart WHERE book_cart_num = #{book_cart_num};
	</delete>
		
<!-- 	
	<delete id = "deleteUnAvailableDateByRoomIndexAndInputDate">
		DELETE FROM unavailable_date WHERE room_index = #{roomIndex} AND date = #{inputDate};
	</delete> -->

</mapper>